.password-resetter-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    cursor: pointer;
}

.user-identify-password{
        margin-left: 121px;
    display: flex;
    flex-direction: column;
}
.password-resetter-div input {
    width: 23rem;
    border-radius: 3px;
    border: 1px solid #b7b2b2;
    transition: all 0.3s ease;
}

.password-resetter-div input:hover{
    width: 24rem;
    height: 2rem;
    border-radius: 7px;
    border: 1px solid #007bff;
}

.submit-changes{
    margin-top: 4px;
    background: #5ed55e;
    color: white;
    border: 2px solid #5ed55e;
    border-radius: 4px;
    text-align: center;
    width: 10rem;
    margin-left: 101px;
    transition: all 0.3s ease;
}

.submit-changes:hover {
    background: #09e84c;
    border: 2px solid #fff;
    width: 11rem;
    /* height: 2rem; */
}

button.close-button {
    font-size: 36px;
    color: red;
}

h3.proceed-entering-header {
    font-size: 24px;
    text-align: center;
    margin-left: -114px;
    margin-top: 0;
}