.myword-icon, .mytruck-icon{
    width: 24px;
  height: 24px;
}

p.client-tag {
    border-radius: 15px;
    text-align: center;
    color: black;
    background-color: #85797947;
    width: 62px;
}
.world-lang {
    display: flex;
    gap: 12px;
    align-items: center;
}
.client-component {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:  175vh;
}

.header-nav {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
}

.client-component .title-descript {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 149px;
}

.client-component .language-dropdown {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-right: 167px;
}

.client-component .sub-nav {
    width: 70%;
    cursor: pointer;
    padding: 7px;
    margin: 15px;
    display: flex;
    justify-content: center;
    color: black;
    background-color: #eeeef5;
    border-radius: 26px;
    align-items: center;
    gap: 119px;
}

.nav-item.active {
    background-color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.active-orders {
    padding: 20px;
}

/* .sack-toggle-btn {
    display: flex;
    gap: 594px;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
        justify-content: flex-end;
}

.sack-toggle-btn:hover {
    background: #0056b3;
} */
